# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.deb

# Jupyter Notebook
.ipynb_checkpoints

# input data, saved log, checkpoints, notebooks,...
data/
input/
saved/
datasets/
paper_data/
checkpoints/
jupyter/
experiments_train.sh
experiments_test.sh

# editor, os cache directory
.vscode/
.idea/
__MACOSX/
